:root {
    --very-wide: 40%
}

.ui.very.wide.sidebar {
    width: var(--very-wide) !important;
}

.ui.visible.left.very.wide.push.sidebar~.fixed, .ui.visible.left.very.wide.push.sidebar~.pusher {
    -webkit-transform: translate3d(var(--very-wide),0,0) !important;
    transform: translate3d(var(--very-wide),0,0) !important;
}